<div class="alert alert-success" role="alert">
  Login component!
</div>

<!-- <button 
  class="btn btn-outline-warning" 
  (click)="login(Role.User)">Login as User</button>

<button 
  class="btn btn-outline-danger" 
  (click)="login(Role.Admin)">Login as Admin</button> -->

  <form class="form-signin">
    <label for="inputUsername" class="sr-only">Username</label>
      <input type="text" id="inputUsername" name="username" [(ngModel)]="username" class="form-control" placeholder="Username" required autofocus>
    <label for="inputPassword" class="sr-only">Password</label>
      <input type="password" id="inputPassword" name="password" [(ngModel)]="password" class="form-control" placeholder="Password" required>
    <button class="btn btn-lg btn-primary btn-block" (click)="handleLoginClick()" type="button">Login</button>
  </form>